@import "../../partials/mixins";

.interest-section {
  @include clamp("padding-top", 3.5rem, 5vw, 6rem);
  @include clamp("padding-bottom", 3.5rem, 10vw, 6rem);
  background-color: var(--secondary-bg-color);

  .interest-article {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    align-items: center;
    -webkit-align-items: center;
    gap: 5rem;

    text-align: center;

    @include clamp("padding-bottom", 3.5rem, 10vw, 6rem);

    .interest-subtitle {
      @include TitleTextH2;
      text-align: center;
      padding-bottom: 1rem;
    }

    .interest-text {
      @include NormalText;
      text-align: justify;
    }

    .interest-href-italic-container {
      text-align: center;

      .interest-href-italic {
        font-style: italic;
        color: rgb(175, 0, 0);
        text-decoration: underline;
        margin-inline: 1rem;
      }
    }

    img {
      @include clamp("max-width", 20rem, 45vw, 29rem);
    }
  }
}

@media (max-width: 950px) {
  .interest-section {

    .interest-article {
      flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;

      .interest-text {
        text-align: center;
      }

      img {
        max-width: 100%;
      }
    }
  }
}