@import "../../partials/mixins";

.services {
  @include clamp("padding-top", 3.5rem, 5vw, 8rem);
  background-color: var(--secondary-bg-color);

  .services-title-text-top {
    margin: 0 auto 2rem auto;
    max-width: 750px;
    text-align: center;

    .services-subtitle {
      @include TitleTextH2;
      margin-bottom: .5rem;
      color: var(--secondary-color);
    }

    .services-text {
      @include NormalText;
      margin: 1rem 0 3.5rem;
    }
  }

  .services-img-text-container {
    display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
    flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    
    gap: 1.5rem;

    @include clamp("padding-bottom", 3.5rem, 10vw, 10rem);
  }
}