@import "../../partials/mixins";

.about-us-section {
  @include clamp("padding-top", 3.5rem, 30vw, 20rem);
  @include clamp("padding-bottom", 3.5rem, 15vw, 10rem);

  .about-us-article {
    @include FlexJustifyItemCenter;
    @include clamp("gap", 3.5rem, 5vw, 8rem);

    .about-us-container {
      text-align: center;

      .about-us-subtitle {
        @include TitleTextH2;
        margin-bottom: 1rem;
        
        color: var(--secondary-color);
      }

      .about-us-text {
        @include NormalText;
      }

      .about-us-span-italic {
        font-style: italic;
      }

      .about-us-btn-contact {
        @include TitleTextH3;
        display: inline-block;

        padding: .5rem 1rem;
        margin: 2rem 0;
  
        color: var(--general-bg-color);
        border: none;
        background-color: var(--decoration-color);
  
        cursor: pointer;
        text-transform: uppercase;
  
        &:hover {
          background-color: var(--secondary-hover-color);
        }
      }
    }

    .about-us-img-container {
      padding: 1rem;
      @include clamp("max-width", 10rem, 55vw, 25rem);

      border: 5px solid black;
      border-style: groove;
    }
  }
}

@media (max-width: 820px) {
  .about-us-section {

    .about-us-article {
      flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;

        .about-us-img-container {
          @include clamp("width", 10rem, 80vw, 25rem);
        }
    }
  }
}

@media (max-width: 750px) {
  .about-us-section {
    padding-top: 3.5rem;
  }
}