@import "../../partials/mixins";

.house-reconstruction {
  padding: 10rem 0;
  background-color: var(--secondary-bg-color);

  .house-reconstruction-container {
    display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
    flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
    gap: 2rem;

    @include FlatHouseReconstruction;

    a {
      font-style: italic;
      color: var(--general-color);
      text-decoration: underline;
    }
  }
}

@media (max-width: 975px) {
  .house-reconstruction {
    padding: 5rem 0;

    .house-reconstruction-container {
      margin-left: 1rem;
      text-align: center;
    }
  }
}

@media (max-width: 649px) {
  .house-reconstruction {
    padding: 5rem 0 2rem;

    .house-reconstruction-container {
      display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
      flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
      justify-content: center;
        -webkit-justify-content: center;
      align-items: center;
        -webkit-align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .house-reconstruction {
    .house-reconstruction-container {
      margin-left: 0rem;
    }
  }
}