@import "../../partials/mixins";

.block-of-more-references {
  margin-top: 5rem;
  box-shadow: 1px 1px 15px var(--general-color);

  .block-of-more-references-introduction-container {
    @include FlexJustifyItemCenter;
    gap: 2rem;

    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border-bottom: 5px solid var(--decoration-color);

    .block-of-more-references-text-container {

      .block-of-more-references-subtitle {
        @include TitleTextH3;

        padding-left: .5rem;
        margin-bottom: .5rem;

        border-left: 5px solid var(--decoration-color);
      }

      .block-of-more-references-text {
        @include NormalText;
      }

    }

    .block-of-more-references-introduction-img {
      @include clamp("width", 10rem, 100vw, 65rem);
    }
  }

  .block-of-more-references-images-container {
    display: grid;
      display: -ms-grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      -ms-grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: .5rem;

    padding: 1rem;
    background-color: var(--secondary-bg-color);

    figure {
      overflow: hidden;
      cursor: pointer;

      img {
        transition: transform 250ms linear;
          -webkit-transition: transform 250ms linear;
          -moz-transition: transform 250ms linear;
          -o-transition: transform 250ms linear;

        &:hover {
          transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .block-of-more-references {
    .block-of-more-references-introduction-container {
      flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }
  }
}
/********************************************/

// PopUpImg
.block-of-more-references-popUpImg {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100vw;
  min-height: 100vh;
  
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);

  .block-of-more-references-popUpImg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 35vw;
  }

  .cross {
    position: absolute;
    top: .8%;
    left: 95%;

    cursor: pointer;
    font-size: 5rem;
    color: red;
  }

  .left {
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translateY(-50%);

    cursor: pointer;
    font-size: 5rem;
    color: red;
  }

  .right {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);

    cursor: pointer;
    font-size: 5rem;
    color: red;
  }
}

.block-of-more-references-popUpImg.hide {
  display: none;
}