@import "../../partials/mixins";

.services-img-text {
  @include clamp("flex", 18rem, 45vw, 20rem);

  background-color: var(--general-bg-color);
  box-shadow: 1px 1px 10px var(--general-color);
  border-bottom: 10px solid var(--decoration-color);

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;

  .services-img-container {
    overflow: hidden;


     img {
      width: 100%;
     }
  }

  .services-subtitle {
    @include TitleTextH3;
    padding: 1.5rem 0 0 2rem;
  }

  .services-text {
    @include NormalText;
    padding: 1.5rem 2rem 2rem 2rem;

    a {
      font-style: italic;
      color: var(--general-color);
      text-decoration: underline;
    }
  }

  .services-text-link {
    @include TitleTextH2;
    
    font-size: 1.2rem;
    text-decoration: none;
    
    margin: auto 0 2rem 2rem;
    width: fit-content;
  }
}