@import "../../partials/mixins";

.services-img-text {
  @include clamp("flex", 18rem, 45vw, 20rem);

  background-color: var(--general-bg-color);
  box-shadow: 1px 1px 10px var(--general-color);
  border-bottom: 10px solid var(--decoration-color);

  .services-img-container {
    overflow: hidden;

     img {
      width: 100%;
     }
  }

  .services-subtitle {
    @include TitleTextH3;
    padding: 1.5rem 0 0 2rem;
  }

  .services-text {
    @include NormalText;
    padding: 1.5rem 2rem 2rem 2rem;

    a {
      font-style: italic;
      color: var(--general-color);
      text-decoration: underline;
    }
  }
}