.navbar-main {
  position: fixed;
  min-width: 100%;

  font-weight: 500;
  font-family: var(--title-text);
  letter-spacing: 1.5px;

  z-index: 10;
  border-bottom: 1px solid var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 .5rem;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    padding: .3rem 0;

    .logo-remodel {
      display: block;

      font-size: .7rem;
      text-align: center;

      color: var(--general-color);
      border-bottom: 1px solid var(--secondary-color);
    }

    .logo-to {
      color: white;
      text-shadow: 0px 0px 5px var(--secondary-color);
    }

    .logo-otradovec {
      color: var(--secondary-color);
    }
  }


  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    list-style: none;

    a {
      color: var(--general-color);

      text-decoration: none;
      text-transform: uppercase;

      transition: color 350ms ease-in-out;

      &:hover {
        color: var(--general-hover-color);
      }
    }
  }

  .navbar-hamburger-menu-btn {
    display: none;
  }
}

@media (max-width: 710px) {
  .navbar-main {
    .flex-wrapper {
      justify-content: space-around;
    }

    ul {
      flex-direction: column;
      gap: 1.5rem;

      position: absolute;
      top: 102%;
      left: 50%;
      transform: translateX(-50%);

      width: 105%;
      padding: 1rem 0;
      border-bottom: 1px solid var(--secondary-color);
      background-color: rgba(255, 255, 255, 0.9);

      transition: left 1s ease-in-out;
    }

    .hide {
      left: -100%;
    }

    .navbar-hamburger-menu-btn {
      display: block;
      background: transparent;
      overflow: hidden;

      border: 1.5px solid var(--button-color);
      border-radius: 5px;

      &[aria-expanded="true"] .navbar-hamburger-menu-svg {
        translate: 2px -1px;
        rotate: .125turn;
      }

      .navbar-hamburger-menu-svg {
        display: block;
        cursor: pointer;
        transition: translate 1s, rotate 1s;

        .line {
          transition: 1s;
          stroke-dasharray: 60 31 60 300;
        }
      }

      &[aria-expanded="true"] .navbar-hamburger-menu-svg .line {
        stroke-dasharray: 60 105 60 300;
        stroke-dashoffset: -90;
      }
    }
  }
}