@import "../../partials/mixins";

.navbar-main {
  position: fixed;
  min-width: 100%;
  
  font-weight: 500;
  font-family: var(--title-text);
  letter-spacing: 1.5px;

  z-index: 10;
  padding: 0 .5rem;

  background-color: var(--navbar-bg-color);
  border-bottom: 1px solid var(--decoration-color);

  .flex-wrapper {
    display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
    justify-content: space-between;
      -webkit-justify-content: space-between;
    align-items: center;
      -webkit-align-items: center;
  }

  .navbar-logo {
    padding: .1rem 0;
    font-size: .85rem;

    .logo-remodel {
      display: block;
      text-align: center;

      color: var(--general-color);
      border-bottom: 1px solid var(--decoration-color);
    }

    .logo-to {
      color: var(--general-bg-color);
      text-shadow: 0px 0px 5px var(--secondary-color);
    }

    .logo-motto {
      color: var(--general-color);
    }
  }

  ul {
    @include FlexJustifyItemCenter;
    @include clamp("gap", 3rem, 7vw, 6rem);

    list-style: none;

    a {
      color: var(--general-color);

      text-decoration: none;
      text-transform: uppercase;

      transition: color 350ms ease-in-out;
        -webkit-transition: color 350ms ease-in-out;
        -moz-transition: color 350ms ease-in-out;
        -o-transition: color 350ms ease-in-out;
      
      &:hover {
        color: var(--secondary-hover-color);
      }
    }
  }

  .navbar-hamburger-menu-btn {
    display: none;
  }
}

@media (max-width: 755px) {
  .navbar-main {
    .flex-wrapper {
      justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    ul {
      flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
      gap: 1.5rem;

      position: absolute;
      top: 102%;
      left: 50%;
      transform: translateX(-50%);

      width: 105%;
      padding: 1rem 0;
      border-bottom: 1px solid var(--secondary-color);
      background-color: rgba(255, 255, 255, 0.9);

      transition: left 1s ease-in-out;
        -webkit-transition: left 1s ease-in-out;
        -moz-transition: left 1s ease-in-out;
        -o-transition: left 1s ease-in-out;
    }

    .hide {
      left: -100%;
    }

    .navbar-hamburger-menu-btn {
      display: block;
      background: transparent;
      overflow: hidden;

      border: 1.5px solid var(--button-color);
      border-radius: 5px;

      &[aria-expanded="true"] .navbar-hamburger-menu-svg {
        translate: 2px -1px;
        rotate: .125turn;
      }

      .navbar-hamburger-menu-svg {
        display: block;
        cursor: pointer;

        transition: translate 1s, rotate 1s;
          -webkit-transition: translate 1s, rotate 1s;
          -moz-transition: translate 1s, rotate 1s;
          -o-transition: translate 1s, rotate 1s;

        .line {
          transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            
          stroke-dasharray: 60 31 60 300;
        }
      }

      &[aria-expanded="true"] .navbar-hamburger-menu-svg .line {
        stroke-dasharray: 60 105 60 300;
        stroke-dashoffset: -90;
      }
    }
  }
}