@import "../../partials/mixins";

.header-cards-section {
  position: relative;
  top: -10rem;

  @include FlexJustifyItemCenter;
  text-align: center;

  .header-flat-reconstruction-card,
  .header-house-reconstruction-card,
  .header-about-us-info-card {
    border: 1px solid grey;
    background-color: var(--general-bg-color);

    max-width: 25rem;
    padding: 1rem;

    overflow: hidden;

    box-shadow: 0px 0px 10px black;

    .header-card-company-logo {
      @include clamp("width", 5rem, 15vw, 7rem);
      
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .header-card-subtitle {
      @include TitleTextH2;

      margin: .5rem 0;

      font-size: var(--font-subtitle-card);
      color: var(--secondary-color);

      .header-card-logo-remodelTO {
        color: var(--general-color);
      }
    }

    .header-card-text {
      font-family: var(--normal-text);
      font-size: var(--font-text-card);
      color: var(--text-color);
    }
  }

  .header-house-reconstruction-card {
    border-left: none;

    animation-name: slideInLeft;
      -webkit-animation-name: slideInLeft;
    animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
    animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
  }

  .header-flat-reconstruction-card {
    border-right: none;

    animation-name: slideInRight;
      -webkit-animation-name: slideInRight;
    animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
    animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
  }

  .header-about-us-info-card {
    @include FlexJustifyItemCenter;
    flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;

    z-index: 1;
    height: 20rem;
  }
}

// ANIMATIONS //
// Hide house and flat reconstruction cards
@media (max-width: 820px) {
  .header-cards-section {
    .header-house-reconstruction-card,
    .header-flat-reconstruction-card {
      display: none;
    }
  }
}

// Hide header cards section
@media (max-width: 750px) {
  .header-cards-section {
    display: none;
  }
}
/********************************************/

// Animation for flat reconstruction card SHOW
@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(100%);
      -webkit-transform: translateX(100%);

    visibility: visible;
  }

  100% {
    transform: translateX(0);
      -webkit-transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
      -webkit-transform: translateX(100%);

    visibility: visible;
  }

  100% {
    transform: translateX(0);
      -webkit-transform: translateX(0);
  }
}
/********************************************/

// Animation for house reconstruction card SHOW
@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
      -webkit-transform: translateX(-100%);

    visibility: visible;
  }

  100% {
    transform: translateX(0);
      -webkit-transform: translateX(0);

    visibility: visible;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
      -webkit-transform: translateX(-100%);

    visibility: visible;
  }

  100% {
    transform: translateX(0);
      -webkit-transform: translateX(0);
  }
}