@mixin FlatHouseReconstruction {

  .flat-reconstruction-img-container,
  .house-reconstruction-img-container {
    max-width: 13rem;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 50%;
  }

  .flat-flex-wrapper {
    padding-right: 1rem;
    border-right: 5px solid var(--decoration-color);
  }

  .house-flex-wrapper {
    padding-left: 1rem;
    border-left: 5px solid var(--decoration-color);
  }

  .flat-flex-wrapper,
  .house-flex-wrapper {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;

    .flat-reconstruction-subtitle,
    .house-reconstruction-subtitle {
      @include TitleTextH3;
    }

    .flat-reconstruction-text,
    .house-reconstruction-text {
      @include NormalText;
      font-size: 1.01rem;
    }
  }

  @media (max-width: 825px) {

    .flat-reconstruction-img-container,
    .house-reconstruction-img-container {
      margin: 2rem 0;
    }
  }

  @media (max-width: 750px) {
    .flat-reconstruction-img-container {
      max-width: 10rem;
      overflow: none;
      border-radius: 50%;
      margin: 5rem 0;
    }

    .house-reconstruction-img-container {
      max-width: 10rem;
      overflow: none;
      border-radius: 50%;
      margin: 3.5rem 0;
    }
  }

  @media (max-width: 649px) {

    .flat-reconstruction-img-container,
    .house-reconstruction-img-container {
      margin: 0rem 0;
    }

    .flat-flex-wrapper,
    .house-flex-wrapper {

      .flat-reconstruction-subtitle,
      .house-reconstruction-subtitle {
        margin-bottom: 1rem;
      }
    }
  }

  @media (max-width: 500px) {
    .flat-flex-wrapper {
      border-right: none;
      border-top: 5px solid var(--decoration-color);
      padding-right: 0rem;

      .flat-reconstruction-title {
        padding-top: 1rem;
      }
    }

    .house-flex-wrapper {
      border-left: none;
      border-top: 5px solid var(--decoration-color);
      padding-left: 0rem;

      .house-reconstruction-subtitle {
        padding-top: 1rem;
      }
    }
  }
}
/********************************************/

// Reference Series & More Reference
@mixin ReferenceSeries {

  .reference-series-block-series {
    border-top: 5px solid var(--decoration-color);
  }
  
  .references-series,
  .more-references-series,
  .reference-series-block-series {
    margin-top: 5rem;

    .references-series-title-text-photo,
    .more-references-series-title-text-photo,
    .reference-series-block-title-text-photo {
      @include FlexJustifyItemCenter;
      gap: 2rem;

      padding: 1rem;
      border-bottom: 5px solid var(--decoration-color);

      .references-series-title-text,
      .more-references-series-title-text,
      .reference-series-block-title-text {

        .references-series-subtitle,
        .more-references-series-subtitle,
        .reference-series-block-subtitle {
          @include TitleTextH3;

          margin-bottom: .5rem;

          h3 {
            border-left: 5px solid var(--decoration-color);
            padding-left: .5rem;
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .references-series-text,
        .more-references-series-text,
        .reference-series-block-text {
          @include NormalText;
          margin-top: 1.5rem;
        }
      }

      .references-series-introduction-photo,
      .more-references-series-introduction-photo,
      .reference-series-block-introduction-photo {
        @include clamp("max-width", 15rem, 65vw, 25rem);
      }
    }

    .references-series-img-container,
    .more-references-series-img-container,
    .reference-series-block-img-container {
      display: grid;
      display: -ms-grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      -ms-grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      gap: .5rem;

      padding: 1rem;

      figure {
        overflow: hidden;
        cursor: pointer;

        img {
          transition: transform 250ms linear;
          -webkit-transition: transform 250ms linear;
          -moz-transition: transform 250ms linear;
          -o-transition: transform 250ms linear;

          &:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {

  .references-series,
  .more-references-series {

    .references-series-subtitle,
    .more-references-series-subtitle {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: 800px) {

  .references-series,
  .more-references-series {
    text-align: center;
    margin-top: 3rem !important;

    .references-series-subtitle,
    .more-references-series-subtitle {
      font-size: 1rem !important;
    }

    .references-series-title-text-photo,
    .more-references-series-title-text-photo {
      flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
    }
  }
}
/********************************************/

// Display flex center
@mixin FlexJustifyItemCenter {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

/********************************************/

// Text styles
@mixin TitleTextH1 {
  color: var(--general-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;

  font: {
    family: var(--title-text);
    size: 1.5rem;
  }
}

@mixin TitleTextH2 {
  color: var(--general-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;

  font: {
    family: var(--title-text);
    size: 1.5rem;
  }
}

@mixin TitleTextH3 {
  color: var(--general-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;

  font: {
    family: var(--title-text);
    size: 1.2rem;
  }
}

@mixin NormalText {
  color: var(--text-color);
  letter-spacing: .6px;
  line-height: 1.4rem;

  font: {
    family: var(--normal-text);
    size: 1.07rem;
  }
}
/********************************************/

// Clamp 
@mixin clamp($property, $min-size, $scaler, $max-size, $min-size-left: false, $scaler-left: false, $max-size-left: false) {
  @if $min-size-left ==false {
    // Set MAX values
    #{$property}: $max-size;
    #{$property}: #{“min(max(#{$min-size},
    #{$scaler}),
    #{$max-size})”
  }

  ;
  #{$property}: clamp(#{$min-size}, #{$scaler}, #{$max-size});
}

@else if $min-size-left ==0 or $min-size-left ==auto {
  // Set MAX values
  #{$property}: $max-size $max-size-left;
  #{$property}: #{“min(max(#{$min-size},
  #{$scaler}),
  #{$max-size})”
}

$min-size-left;
#{$property}: clamp(#{$min-size}, #{$scaler}, #{$max-size}) $min-size-left;
}

@else {
  // Set MAX values
  #{$property}: $max-size $max-size-left;
  #{$property}:#{“min(max(#{$min-size},
  #{$scaler}),
  #{$max-size})”
}

#{“min(max(#{$min-size-left},
#{$scaler-left}),
#{$max-size-left})”
}

;
// add second CLAMP and #{} to SASS variables
#{$property}: clamp(#{$min-size}, #{$scaler}, #{$max-size}) clamp(#{$min-size-left}, #{$scaler-left}, #{$max-size-left});
}
}