@import "../../partials/mixins";

.error-page {
  margin-top: 10rem;
  margin-inline: auto;
  padding-block: 5rem;

  .error-page-text-container {
    @include clamp("padding-top", 3.5rem, 5vw, 6rem);
    @include clamp("padding-bottom", 3.5rem, 10vw, 6rem);
    text-align: center;

    .error-page-title {
      @include TitleTextH1;
      margin-bottom: .5rem;
    }

    .error-page-text {
      @include NormalText
    }
  }
}