@import "../../partials/mixins";

.renovation-section {
  @include clamp("padding-top", 3.5rem, 30vw, 20rem);
  @include clamp("padding-bottom", 3.5rem, 15vw, 10rem);

  .renovation-title-text,
  .renovation-subtitle-text {
    margin-bottom: 2.5rem;
  }

  .renovation-title {
    @include TitleTextH1;
    @include clamp("font-size", .9rem, 6vw, 1.5rem);
    text-align: center;
  }

  .renovation-subtitle {
    @include TitleTextH3;
  }

  .renovation-text {
    @include NormalText;
    margin-top: .2rem;
  }
}

@media (max-width: 500px) {
  .renovation-section {
    .renovation-title-text {
      .renovation-text {
        text-align: center;
      }
    }
  }
}