:root {
  /* Font colors */
  --general-color: black;
  --secondary-color: rgb(65, 34, 0);
  --text-color: rgba(0, 0, 0, 0.8);

  /* Font hover colors */
  --secondary-hover-color: rgba(65, 34, 0, 0.8);

  /* Decoration colors */
  --decoration-color: rgb(65, 34, 0);
  --button-color: rgba(65, 34, 0);
  
  /* Background colors */
  --general-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgb(245, 245, 245);
  --navbar-bg-color: rgba(255, 255, 255, 0.9);
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --footer-bg-color: #292B2F;

  /* SVG Icon colors */
  --prefooter-icons: rgba(255, 255, 255, .79);

  /* Font-family style */
  --title-text: 'Poppins', sans-serif;
  --normal-text: 'Crimson Text', serif;

  /* Font size */
  --font-subtitle-card: clamp(.7rem, 1vw, .9rem);
  --font-text-card: clamp(.9rem, 1vw, 1rem);

  /* Font-family style */
  --btn-dont-work : grey;

  /* Footer styles */
  --footer-styling: rgba(255, 255, 255, .79);

  /* Scrolling */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--general-bg-color);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 2.5rem;

  max-width: 1050px;
}

.container-second {
  margin: 0 auto;
  padding: 0 .5rem;

  max-width: 1250px;
}